html {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cart-page {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
}

.item-details {
  display: flex;
  flex-direction: row;
  align-items: row;
  flex: auto;
  width: 50%;
  border: 0.1rem solid #444444;
  padding: 1rem;
  margin: 0.5rem;
}

.plant-details {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.quantity-details {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: row;
  width: 50%;
  border: 0.1rem solid #444444;
}

.form-row input {
  display: flex;
  width: 100%;
}

/* nav view */
nav {
  margin: 27px auto 0;

  position: relative;
  width: 590px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 130px;
}
a:nth-child(2) {
  width: 130px;
}
a:nth-child(3) {
  width: 130px;
}
a:nth-child(4) {
  width: 130px;
}

nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 130px;
  left: 0;
  background-color: #1abc9c;
}
nav .start-about,
a:nth-child(2):hover ~ .animation {
  width: 130px;
  left: 130px;
  background-color: #e74c3c;
}
nav .start-blog,
a:nth-child(3):hover ~ .animation {
  width: 130px;
  left: 260px;
  background-color: #3498db;
}
nav .start-portefolio,
a:nth-child(4):hover ~ .animation {
  width: 130px;
  left: 390px;
  background-color: #9b59b6;
}

/* nav view */
