body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cart-page {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
}

.item-details {
  display: flex;
  flex-direction: row;
  align-items: row;
  /* align-content: space-between; */
  flex: auto;
  width: 100%;
  border: 0.1rem solid #444444;
  padding: 1rem;
  margin: 0.5rem;
}

.plant-details {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.quantity-details {
  display: flex;
  flex-direction: column;
  width: 70%;
}
